nav ul {
	list-style-type: none;
	background: deepskyblue;
	display: flex;
	justify-content: space-around;
	width: 100vw;
	min-height: 10vh;
	margin: 0;
}

nav ul li {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
}

nav li img {
	width: 32px;
	margin: 0 16px 0 0;
}

nav ul li a {
	color: white;
	text-decoration: underline;
	font-weight: bold;
}

nav #contacts-menu {
	border: 2px white solid;
	padding: 8px;
	text-decoration: none;
	border-radius: 8px;
}
nav #contacts-menu:hover {
	border: 2px dodgerblue solid;
	padding: 8px;
	color: dodgerblue;
	text-decoration: none;
	border-radius: 8px;
}

section {
	min-height: 100vh;
	background: dodgerblue;
	margin: 16px 0;
	padding: 16px 0 0;
}

section h3 {
	color: white;
	font-size: 2em;
	padding: 16px;
}

section p {
	font-size: 2em;
	margin: 0 32px;
}

section h4, h5, h6 {
	font-size: 2em;
	padding: 32px;
}

#events div {
	margin: 8px 32px;
	font-size: 1em;
	padding: 0;
}

#events div h4 {
	font-size: 1.5em;
	margin: 0 32px;
	padding: 0;
}

#events div p,ul,ol {
	margin: 0 48px;
	font-size: 1em;
}

#events .icon {
	height: 24px;
	margin: 4px 8px;
}
#events li a {
	display: flex;
	align-content: center;

	margin: 0 4px;
}
#events li .event-links {
	display: flex;
}
#events a span {
	font-size: 0.8em;
}

#contacts div {
	display: flex;
	min-height: 100%;
	height: 100%;
	flex-direction: column;
	vertical-align: middle;
	align-items: center;
	justify-content: space-around;
	flex-flow: column;
	font-size: 2em;
}
#contacts img {
	display: flex;
	align-self: center;
	height: 144px;
}
#contacts div a {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-self: center;
	color: white;
	background: deepskyblue;
	text-decoration: none;
	border: 3px #fff solid;
	margin: 32px 8px;
	padding: 32px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 20vh;
	background: deepskyblue;
}

footer a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	color: white;
}

footer img {
	display: flex;
	height: 91.438px;
	margin: 32px;
}

#recents {
	width: 100vw;
	max-height: 80vh;
	display: flex;
	margin: 0;
	padding: 0;
}

#recents img {
	width: 64px;
	padding: 16px;
	margin: 16px;
}

#recents .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex: 1;
}

#recents .recent-item {
	flex: 1;
	min-height: 60vh;
	display: flex;
	justify-content: center;
	align-content: center;
}

#recents .recent-item .item {
	width: 50%;
}

#recents .select-right {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	left: 95%;
}

#about {
}

#events {
}

#contacts {
}

.clean-nav {
	height: 100px;
}

.nav-top {
	display: block;
	position: fixed;
	right: 24px;
	bottom: 24px;
	width: 62px;
	background: white;
	border-radius: 30px;
	padding: 8px;
}

.nav-top-hidden {
	display: none;
}